.container.d-flex.justify-content-center.custom-boxSignUp {
    max-width: 50%;
    margin: 0 auto; 
    border: 2px solid black;
    border-radius: 10px; 
    padding: 30px 0 50px 0;
    margin-top: 10vh; 
    background-color: white;
}

.btn.btn-signUp-custom
{
    background-color:  rgb(57, 56, 56);
    color: white;
}

.btn.btn-signUp-custom:hover
{
    background-color:   rgb(121, 121, 121);
    color: white;
}

.btn.btn-login-custom
{
    background-color: rgb(57, 56, 56);
    color: white;
    padding: 0 10px;
}

.btn.btn-login-custom:hover
{
    background-color:  rgb(121, 121, 121);
    color: white;
}